# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Build outputs
build/
dist/
*.spec

# LLM / data
models/*
!models/.gitkeep

data/*
!data/.gitkeep

*.gguf

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

.env
*.env